.contacto-conteiner{
    margin-top: 10%;
    background-color: rgba(218, 218, 218, 0.636);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-item2{
    color:$color-font;
    font-family: 'Cabin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-contacto{
    font-weight: 700;
    font-size: 20px;
}


@media screen and (max-width:513px){
    .contacto-item2 img{
        width:70px ;
    }
}

@media screen and (max-width:513px){
    .contacto-item1 img{
        width:70px ;
    }
}