@import "../base/variables";

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    margin-top: auto;
}

.footer-conteiner{
    background-color:$bg-fondos;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: $color-font;
    font-family: 'Cabin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    align-items: center;
}