@import "../base/variables";

.ivo-bk{
    background-color:rgba(77, 77, 77, 0.398);
}

.nav-link{
    color: $color-font;
    font-family: 'Cabin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.nav-link:hover{
    color:$bg-fondos-hover
}

.navbar-toggler{
    background-color: white;
}